@import 'utils';

.popup {
    height: 57vh;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3125rem;
    display: none;

    &-form {
        width: 100%;
        height: 100%;
    }

    &-form__container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        border: 0;
        padding: 0;

        legend {
            font-family: $buttonFont;
            padding-top: 3rem;
            font-size: 2rem;
            margin: 0 auto 1.25rem;
        }

        .popup-form__email,
        .popup-form__password {
            width: 100%;
            padding: .9375rem;
            border: 1px solid $borderInputColor;
            margin-bottom: 1.2rem;
        }

        .popup-form__terms {
            position: relative;
            margin: .7rem 0 2rem 0;

            .form-terms__input {
                height: 1.25rem;
                width: 1.25rem;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                cursor: pointer;
            }

            .form-terms__label {
                margin-left: 1.875rem;
                word-wrap: break-word;

            }

            .form-terms__input+.form-terms__label::before {
                border: 1px solid $borderInputColor;
                content: "";
                height: 1.25rem;
                width: 1.25rem;
                top: 0;
                left: 0;
                position: absolute;
            }

            .form-terms__input+.form-terms__label::after {
                content: "";
                border: 4px solid;
                border-left: 0;
                border-top: 0;
                height: 13px;
                left: 6px;
                width: 7px;
                opacity: 0;
                position: absolute;
                top: -1px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                cursor: pointer;
            }

            .form-terms__input:checked+.form-terms__label::after {
                opacity: 1;
            }
        }

        .popup-form__submitBtn {
            width: 100%;
            height: 2.5rem;
            border: 1px solid $submitBtnColor;
            background: $submitBtnColor;
            color: #fff;
            font-size: 1.125rem;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                border: 1px solid $submitHoverBtnColor;
                background: $submitHoverBtnColor
            }
        }
    }

    .popup-form__close {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #000;
        color: #fff;
        position: absolute;
        top: -10px;
        right: -10px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        strong {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
        }

        &:hover {
            // transform: scale(1.5);
            width: 2.5rem;
            height: 2.5rem;
            transition: all .2s ease-in-out;
        }
    }

    .popup-form__warning {
        color: $submitHoverBtnColor;
        position: absolute;
        bottom: 10px;
        left: 20px;

        .password-error,
        .email-error {
            font-size: .77rem;
        }
    }
}