/* Main styles */
@import 'utils';

.main {
  @include defaultBackgroundGradient(-45deg, #fcaf32, #fc888e);
  @include flex-center;
  min-height: 100vh;

  &__message {
    font-family: $buttonFont;
    font-size: 42px;
  }
}

.btn-main {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: $buttonFont;
  font-size: 42px;
  height: 60px;
  outline: none;
  padding: 0 20px;
  transition: all .5s ease;

  &:hover {
    transform: scale(1.15);
  }
}