// Responsive @media styles
@media screen and (max-width:576px) {
    .popup {
        width: 60vw;

        .password-error,
        .email-error,
        .terms-error {
            font-size: .66rem;
        }
    }
}

@media screen and (max-height:498.98px) and (orientation: landscape) {
    .popup {
        height: 92vh;

        legend {
            padding-top: 0;
        }
    }
}

@media screen and (max-height:498.98px) and (orientation:portrait) {
    .popup {
        height: 82vh;
    }
}

@media screen and (min-height: 499px) and (max-height:699px) {
    .popup {
        height: 67vh;
    }
}

@media screen and (min-height:799px) and(max-height:948.98px) {
    .popup {
        height: 45vh;
    }
}


@media screen and (min-height:949px) and (max-height:1099.98px) {
    .popup {
        height: 40vh;
    }
}

@media screen and (min-height:1100px) {
    .popup {
        height: 30vh;
    }
}