// UTILS

//******** VARIABLES**************

$mainFont:'Lato',
sans-serif;

$buttonFont:'Lobster',
cursive;


//******* MIXINS ************

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin defaultBackgroundGradient ($deg, $firstColor, $secondColor) {
    background: linear-gradient($deg, $firstColor 0%, $secondColor 100%);
}