// UTILS

//******** VARIABLES**************


// FONTS //

$mainFont:'Lato',
sans-serif;

$buttonFont:'Lobster',
cursive;
// COLORS //

$submitBtnColor:#000;

$submitHoverBtmColor:#ea6b6b;

$borderInputColor:#ccc;

//******* MIXINS ************

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin defaultBackgroundGradient ($deg, $firstColor, $secondColor) {
    background: linear-gradient($deg, $firstColor 0%, $secondColor 100%);
}