// UTILS

//******** VARIABLES**************

$mainFont:'Lato',
sans-serif;

$buttonFont:'Lobster',
cursive;


//******* MIXINS ************

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}